.App{
  max-width: 70%;
  display:grid;
  grid-template-columns: 35% 65%;
  background-color: rgb(254, 255, 255);
  border-radius:10px;
  margin:auto;
  position: absolute;
  top: 50%;
  left: 15%;
  transform: translateY(-50%);
  padding:2em;
}